
<div style=" padding: 0% 1% 0% 1%;">

<amexio-image [path]="'assets/staticPageImages/amexio_colors.jpeg'" [tooltip]="'Image'"></amexio-image>

<amexio-tab-view [closable]="false">
    <amexio-tab title="Material Design" [active]="true">
        <amexio-theme-switcher [closeable]="false" [relative]="true" [mda]="true" ></amexio-theme-switcher>
    </amexio-tab>
    <amexio-tab title="Amexio">
        <amexio-theme-switcher  [closeable]="false" [relative]="true"  [mda]="false" [test-mode]="false" [data]="amexioThemeData"></amexio-theme-switcher>
    </amexio-tab>
    <amexio-tab title="Colors">
        Eventually we can apply this attribute [amexio-color] to all components, currently we can apply to progress bar
        and datapoints.
        To know more refer the API reference section
        <amexio-datagrid title="Amexio Colors" [enable-column-filter]="false" [http-method]="'get'"
       
        [http-url]="'assets/themejson/amexio-colours.json'" [data-reader]="'colors'" [enable-data-filter]="false">
            <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'" [hidden]="false"
                [text]="'Name'"></amexio-data-table-column>
            <amexio-data-table-column [width]="15" [data-index]="'css'" [data-type]="'string'" [hidden]="false"
                [text]="'CSS Class Name'">
                <ng-template #amexioBodyTmpl let-column let-row="row">
                    <span>
                        [amexio-color] = '{{row.css}}' </span>
                </ng-template>
            </amexio-data-table-column>
            <amexio-data-table-column [width]="15" [data-index]="'BG'" [data-type]="'string'" [hidden]="false"
                [text]="'Color'">
                <ng-template #amexioBodyTmpl let-column let-row="row">
                    <span>
                        <div [ngStyle]="{'background-color':row.BG, 'color' : row.font}">
                            This is amexio color {{ row.name }} background <b> {{ row.BG }} </b> with opposite font
                            color <b> {{ row.font }} </b>
                        </div>
                    </span>
                </ng-template>
            </amexio-data-table-column>
        </amexio-datagrid>
    </amexio-tab>
    <amexio-tab title="Getting Started">
        <amexio-label size="large">To install the Amexio Colors:</amexio-label>
        <amexio-box background-color="blue" border="left" border-color="blue" padding="true">
            <amexio-label size="medium-bold">$ sudo npm install -g amexio-colors</amexio-label>
        </amexio-box>
        <amexio-label size="large">Check the Amexio Colors version:</amexio-label>
        <amexio-box background-color="blue" border="left" border-color="blue" padding="true">
            <amexio-label size="medium-bold"> $ ac </amexio-label><br />
            <amexio-label> Amexio Colors v1.0 </amexio-label><br />
            <amexio-label> Copyright (c) 2018, MetaMagic Global Inc, NJ, USA </amexio-label><br />
            <amexio-label> ..... </amexio-label><br />
        </amexio-box>
        <amexio-label size="large">To Generate Amexio Material Design Themes</amexio-label>

        <amexio-box background-color="blue" border="left" border-color="blue" padding="true">
            <amexio-label size="medium-bold">$ pwd</amexio-label><br />
            <amexio-label size="medium">/home/user/</amexio-label><br /><br />
            <amexio-label size="medium-bold">$ mkdir mythemes</amexio-label><br />
            <amexio-label size="medium-bold">$ echo "// Amexio Themes v0.0 " >> Themes-Data.txt</amexio-label><br />
            <amexio-label size="medium-bold">$ echo "// Design-Type : Material Design " >> Themes-Data.txt
            </amexio-label><br />
            <amexio-label size="medium-bold">$ echo "// Theme-Version : 4.0 " >> Themes-Data.txt</amexio-label><br />
            <amexio-label size="medium-bold">$ echo "army-olive,#4B5320,#708238" >> Themes-Data.txt</amexio-label><br />
            <amexio-label size="medium-bold">$ echo "ash-stone-black,#544C4A,#877F7D" >> Themes-Data.txt</amexio-label>
            <br />
            <br />
            <amexio-label size="medium-bold">$ ac Themes-Data.txt /home/user/mythemes/</amexio-label><br />
        </amexio-box>
        <amexio-label size="large"> Amexio Colors API Documentation</amexio-label>
        <p>
            <amexio-label>
                Checkout the Amexio Colors API Documentation published in </amexio-label>
            <a href="https://meta-magic.github.io/AmexioColors/" target="_blank"> GitHub Pages</a>
            <br />
            <amexio-label>For Testing the Themes Autogenerated by the Amexio Colors Checkout the Amexio</amexio-label>
            <a href="https://api.amexio.org" target="_blank"> API Site</a>
        </p>

    </amexio-tab>
</amexio-tab-view>


<amexio-action-ce [align]="'space-between'">
        <amexio-button [label]="'Previous'" [type]="'theme-color'" (onClick)="previous()">
        </amexio-button>
        <amexio-button [label]="'Next'" [type]="'theme-color'" [tooltip]="'toolTip'"  (onClick)="next()">
        </amexio-button>
</amexio-action-ce>
</div>