

<br/>
<amexio-label>
             DownLoads/Day
</amexio-label>
<br>
<div *ngIf="showChart"  [ngClass]="{'signal':isLoading}">
      <div  *ngIf="showChart"  [ngClass]="{'signal':isLoading1}" >
        <amexio-chart-line [data]="lineChartData" [height]="'400px'" [width]="'100%'">
          <amexio-chart-legend [position]="'top'" [font-name]="'downloads'"></amexio-chart-legend>
              <amexio-chart-horizontal-axis [title]="'Date'">
              </amexio-chart-horizontal-axis>
              <amexio-chart-vertical-axis [title]="'Downloads'">
              </amexio-chart-vertical-axis>
        </amexio-chart-line> 
      </div>   
 </div>


