
<br>
<br>
<amexio-row>
         <amexio-column [size]="4">
                   <amexio-datapoints [background-color]="'#FFCCBC'" [center]="true"[south]="true" >
                              <amexio-center [content-align]="'center'">
                                <amexio-label size="large-bold">{{sum}}</amexio-label>
                                <br/>
                              </amexio-center>
                              <amexio-south [content-align]="'center'">
                               <amexio-label size="medium">Total</amexio-label>       
                               </amexio-south>
                   </amexio-datapoints>
            </amexio-column> 
            
            

            <amexio-column [size]="4"> 

                        <amexio-datapoints [background-color]="'#FFCC80'" [center]="true"[south]="true" >
                                    <amexio-center [content-align]="'center'">
                                      <amexio-label size="large-bold">{{currentyearsum}}</amexio-label>
                                      <br/>
                                    </amexio-center>
                                    <amexio-south [content-align]="'center'">
                                     <amexio-label size="medium">Current Year</amexio-label>       
                                     </amexio-south>
                      </amexio-datapoints>
            </amexio-column> 

              <amexio-column [size]="4"> 
                    
                        <amexio-datapoints [background-color]="'#F8BBD0'" [center]="true"[south]="true" >
                                    <amexio-center [content-align]="'center'">
                                      <amexio-label size="large-bold">{{currentmonthsum}}</amexio-label>
                                      <br/>
                                    </amexio-center>
                                    <amexio-south [content-align]="'center'">
                                     <amexio-label size="medium">Current Month</amexio-label>       
                                     </amexio-south>
                     </amexio-datapoints>
        </amexio-column>  

       
</amexio-row>

<amexio-row>   
<amexio-column [size] ="8">
    <amexio-card
          [header]="true"
          [header-align]="'left'"
          [body-height]="''">
            <amexio-header>
                Downloads per day
            </amexio-header>
            <amexio-body>
                <div *ngIf="showChart" [ngClass]="{'signal':!showChart}">
                    <amexio-chart-line [data]="lineChartData" [height]="'400px'" [width]="'100%'">
                      <amexio-chart-legend [position]="'top'" [font-name]="'downloads'"></amexio-chart-legend>
                          <amexio-chart-horizontal-axis [title]="'Date'">
                          </amexio-chart-horizontal-axis>
                          <amexio-chart-vertical-axis [title]="'Downloads'">
                          </amexio-chart-vertical-axis>
                    </amexio-chart-line> 
                  </div>   
            </amexio-body>
       </amexio-card>
    </amexio-column >

   <amexio-column [size]="4">
        <amexio-card
        [header]="true"
        [header-align]="'left'"
        [body-height]="''">
          <amexio-header>
              Current Year
          </amexio-header>
          <amexio-body>
                <div *ngIf="showChart" [ngClass]="{'signal':!showChart}">
                       <amexio-chart-column [data]="currentyearchart" [height]="'400px'" [width]="'100%'">
                            <amexio-chart-title></amexio-chart-title>
                            <amexio-chart-legend [position]="'bottom'"></amexio-chart-legend>
                     </amexio-chart-column>
                </div>
          </amexio-body>
   </amexio-card>

    </amexio-column>
</amexio-row> 
<br>
<br>  

<amexio-row>
    <amexio-column [size] ="4">
      <amexio-card
        [header]="true"
        [header-align]="'left'"
        [body-height]="''">
          <amexio-header>
              Downloads Per Month
          </amexio-header>
          <amexio-body>
                <div  *ngIf="showChart" [ngClass]="{'signal':!showChart}">
                  <amexio-chart-line [data]="monthWiseDataarray" [height]="'400px'" [width]="'100%'">
                           <amexio-chart-legend [position]="'top'" [font-name]="'downloads'"></amexio-chart-legend>
                               <amexio-chart-horizontal-axis [title]="'Month'">
                               </amexio-chart-horizontal-axis>
                               <amexio-chart-vertical-axis [title]="'Downloads'">
                               </amexio-chart-vertical-axis>
                         </amexio-chart-line> 
                </div>
          </amexio-body>
   </amexio-card>
</amexio-column>

<amexio-column [size] ="4">
   <amexio-card
   [header]="true"
   [header-align]="'left'"
   [body-height]="''">
     <amexio-header>
         Downloads Per Year 
     </amexio-header>
     <amexio-body>
           <div *ngIf="showChart" [ngClass]="{'signal':!showChart}">
             <amexio-chart-line [data]="yearWiseDataarray" [height]="'400px'" [width]="'100%'">
                      <amexio-chart-legend [position]="'top'" [font-name]="'downloads'"></amexio-chart-legend>
                          <amexio-chart-horizontal-axis [title]="'Year'">
                          </amexio-chart-horizontal-axis>
                          <amexio-chart-vertical-axis [title]="'Downloads'">
                          </amexio-chart-vertical-axis>
                    </amexio-chart-line> 
             </div>
      </amexio-body>
   </amexio-card>
 </amexio-column>


 <amexio-column [size] ="4">
  <amexio-card
  [header]="true"
  [header-align]="'left'"
  [body-height]="''">
    <amexio-header>
        Downloads Per Week
    </amexio-header>
    <amexio-body>
          <div  *ngIf="showChart" [ngClass]="{'signal':!showChart}">
            <amexio-chart-line [data]="WeekChart" [height]="'400px'" [width]="'100%'">
                     <amexio-chart-legend [position]="'top'" [font-name]="'downloads'"></amexio-chart-legend>
                         <amexio-chart-horizontal-axis [title]="'Weeks'">
                         </amexio-chart-horizontal-axis>
                         <amexio-chart-vertical-axis [title]="'Downloads'">
                         </amexio-chart-vertical-axis>
                   </amexio-chart-line> 
            </div>
     </amexio-body>
  </amexio-card>
</amexio-column>
</amexio-row>
  