
<div style=" padding: 0% 1% 0% 1%;">

<amexio-box amexioColorPalette [color-palette]="'classic'" [gradient]="true" class="api-header-style " [padding]="true"
  align="left">
    <amexio-label size="large">
        Amexio
    </amexio-label>
  <br />
  <amexio-label size="medium">
        Angular MetaMagic EXtensions for Inputs and Outputs
  </amexio-label>
</amexio-box>

<br/><br/>

<amexio-card-ce >
    <amexio-body-ce>
        <amexio-layout-columns [border]="false" [fit]="true" [alignment]="'center'" [orientation]="'vertical'">
            <amexio-layout-item [fit]="true">
                <amexio-label [size]="'small'">
                    Angular is a UI platform (from Google) to build your Web and Smart Device Applications. It focuses
                    on UI component development, navigation, dependency injection, security with a modular architecture. 
                    <br/><br/>

                    Amexio is a rich set of <b>Angular 7 components</b> powered by HTML5 & CSS3 for <b>Responsive Web
                    Design</b> and 80+ built-in <b>Material Design Theme</b> support. <b>Amexio is completely Open Sourced and Free.
                    It's based on Apache 2 License. </b>
                    <br/><br/>

                    With <b>160+ UI Components</b> which includes, Grid, Trees, Tabs, Dynamic Tabs, Form Inputs, Layouts,
                    Charts, Dashboards, Maps etc <b>with Accessibility support</b>. It’s one of the best Angular UI Library in
                    the market today.
                    <br/><br/>
                    The codebase follows the best in class coding standards and the Amexio build (Travis CI) process is
                    integrated with an open source static code analysis tool - Sonar TS to check the <b>code quality in
                    every build. v5.1.0 release has a Code Quality rating as follows - Security - A. Maintainability - A
                    Reliability - A grade</b>. Sonar TS is a static code analyzer for TypeScript detecting bugs and
                    suspicious patterns in your code.
                    <br/><br/>

                    <b>Amexio Chart Library</b> is augmented with the <b>support of 12+ D3 Charts</b>. Amexio D3 Chart is a separate
                    npm download.
                    <br/><br/>

                    With the v5.5 release, introduced <b>Drillable / Zoomable multi-level charts</b> with Single and Multiple
                    Targets as drilling options.
                    <br/><br/>
                    You can use it in your production grade work today at no cost or no obligation.
                </amexio-label>
                <br/><br/>
                <amexio-label [size]="'large-bold'">
                    Amexio Editions 
                </amexio-label>
                <ul>
                    <li>Standard Edition</li>
                    <li>Enterprise Edition</li>
                    <li>Creative Edition</li>
                </ul>

            </amexio-layout-item>
            
            <amexio-layout-item>
                    <amexio-label [size]="'large-bold'">
                            Amexio Architecture
                        </amexio-label><br/><br/>
                <amexio-image
                    [path]="'https://img1.wsimg.com/isteam/ip/36e99eeb-f2d4-43e5-ba0f-5ea68df2588f/b0f2e860-eb63-40e9-b24c-f360748ba3ca.jpg'">
                </amexio-image>
                <br/>
            </amexio-layout-item>
            

            <amexio-layout-item>
                   <key-features></key-features>
            </amexio-layout-item>


            <amexio-layout-item>
                <amexio-label [size]="'large-bold'">
                    Key Differentiators from Competition 
                </amexio-label>
                <ul style="list-style: decimal;">
                   <li>160+ Enterprise Grade UI Components</li>
                   <li>Powerful Layouts</li>
                   <li>Charts with Drillable and Zoomable features</li>
                   <li>Simplified Forms - TDF and Reactive Forms</li>
                   <li>Enterprise and Creative Editions</li>                   
                </ul>
                <amexio-image [path]="'assets/staticPageImages/Amexio-Differentiator.jpg'">
                </amexio-image>
            </amexio-layout-item>
       
            <amexio-layout-item>
                    <amexio-property-grid [key-value-data]="linksData" (onValueClick)="navigate($event)"></amexio-property-grid>
            </amexio-layout-item>
        </amexio-layout-columns>

        

    </amexio-body-ce>
    <amexio-action-ce [align]="'end'">
        <amexio-button [label]="'Next'" [type]="'theme-color'" [tooltip]="'toolTip'"  (onClick)="next()">
        </amexio-button>
    </amexio-action-ce>

    

</amexio-card-ce>


</div>