<div style="padding-left: 10px;padding-right: 10px;">
    <amexio-row>
        <amexio-column [size]=5>
            <amexio-image style="display: flex; justify-content: center; "
                [path]="'https://image.ibb.co/kdy6Ev/logo.png'">
            </amexio-image>
        </amexio-column>
        <amexio-column [size]=7>
            <iframe align="right" width="100%" height="300"
                src="https://www.youtube.com/embed/videoseries?list=PLi505KVOMPrGRUgJF4C3QoXbrhFGEOI4j&hl=en_US"
                frameborder="0" allowfullscreen></iframe>
        </amexio-column>

    </amexio-row>

    <amexio-row>
        <amexio-column size="12">
            <div align="center">
                <amexio-label [blackLabel]="true" size="'large-bold'">
                    <h1> Amexio Angular EXtensions v5.15 </h1>
                </amexio-label>
                <br>

                <amexio-image [height]="50" [width]="50"
                    path="https://travis-ci.org/meta-magic/amexio.github.io.svg?branch=v5.6"></amexio-image>
                <amexio-image [height]="50" [width]="50" path="https://badge.fury.io/js/amexio-ng-extensions.svg">
                </amexio-image>
                <a href="https://badge.fury.io/js/amexio-ng-extensions">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/npm/dt/amexio-ng-extensions.svg"></amexio-image>
                </a>
                <a href="https://npmjs.org/package/amexio-ng-extensions">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/npm/dw/amexio-ng-extensions.svg" alt="Weekly Downloads">
                    </amexio-image>
                </a>
                <a href="https://npmjs.org/package/amexio-ng-extensions">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/npm/dm/amexio-ng-extensions.svg" alt="Monthly Downloads">
                    </amexio-image>
                </a>

                <br>

                <a class="badge-align" target="_blank"
                    href="https://www.codacy.com/app/arafkarsh/amexio.github.io?utm_source=github.com&amp;utm_medium=referral&amp;utm_content=meta-magic/amexio.github.io&amp;utm_campaign=Badge_Grade">
                    <amexio-image [height]="50" [width]="50"
                        path="https://api.codacy.com/project/badge/Grade/06ad409b12ad4c1c81794c81889dc6ee">
                    </amexio-image>
                </a>
                <a target="_blank" href="https://sonarcloud.io/dashboard?id=Amexio-API">
                    <amexio-image [height]="50" [width]="50"
                        path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=alert_status">
                    </amexio-image>
                </a>
                <a target="_blank" href="https://sonarcloud.io/dashboard?id=Amexio-API">
                    <amexio-image [height]="50" [width]="50"
                        path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=reliability_rating">
                    </amexio-image>
                </a>
                <a target="_blank" href="https://sonarcloud.io/dashboard?id=Amexio-API">
                    <amexio-image [height]="50" [width]="50"
                        path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=security_rating">
                    </amexio-image>
                </a>
                <a target="_blank" href="https://sonarcloud.io/dashboard?id=Amexio-API">
                    <amexio-image [height]="50" [width]="50"
                        path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=sqale_rating">
                    </amexio-image>
                </a>
                <br>

                <amexio-image [height]="50" [width]="50"
                    path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=vulnerabilities">
                </amexio-image>
                <amexio-image [height]="50" [width]="50"
                    path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=code_smells">
                </amexio-image>
                <amexio-image [height]="50" [width]="50"
                    path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=sqale_index">
                </amexio-image>
                <a href="https://sonarcloud.io/dashboard?id=Amexio-API">
                    <amexio-image [height]="50" [width]="50"
                        path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=bugs">
                    </amexio-image>
                </a>

                <a href="https://sonarcloud.io/dashboard?id=Amexio-API">
                    <amexio-image [height]="50" [width]="50"
                        path="https://sonarcloud.io/api/project_badges/measure?project=Amexio-API&metric=ncloc">
                    </amexio-image>
                </a>

                <br>

                <a href="https://github.com/meta-magic/amexio.github.io">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/github/license/meta-magic/amexio.github.io.svg"></amexio-image>
                </a>
                <a href="https://github.com/meta-magic/amexio.github.io">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/github/issues/meta-magic/amexio.github.io.svg"></amexio-image>
                </a>
                <a href="https://github.com/meta-magic/amexio.github.io">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/github/languages/code-size/meta-magic/amexio.github.io.svg">
                    </amexio-image>
                </a>
                <a href="https://github.com/meta-magic/amexio.github.io">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/github/stars/meta-magic/amexio.github.io.svg"></amexio-image>
                </a>
                <a href="https://gitter.im/amexio-github-io/">
                    <amexio-image [height]="50" [width]="50"
                        path="https://img.shields.io/gitter/room/amexio-github-io/amexio-github-io.svg"></amexio-image>
                </a>

            </div>
            <hr>
        </amexio-column>
    </amexio-row>

    <amexio-row>

        <amexio-column [size]=3 [fit]='true'>
            <amexio-card header="true">
                <amexio-header>
                    Table Of Contents
                </amexio-header>
                <amexio-body style="display: flex; justify-content: center; flex-direction: column;">
                    <div style="height: 100%;">
                        <amexio-row>
                            <amexio-column size="12">
                                <span style="cursor: pointer">1. Install Amexio Components</span>
                            </amexio-column>
                        </amexio-row>
                        <amexio-row>
                            <amexio-column size="12">
                                <span style="cursor: pointer;">2. Apply Material Design Themes</span>
                            </amexio-column>
                        </amexio-row>
                        <amexio-row>
                            <amexio-column size="12">
                                <span style="cursor: pointer;">3. Dependencies</span>
                            </amexio-column>
                        </amexio-row>
                        <amexio-row>
                            <amexio-column size="12">
                                <span style="cursor: pointer;">4. Install Amexio D3 Chart</span>
                            </amexio-column>
                        </amexio-row>
                        <amexio-row>
                            <amexio-column size="12">
                                <span style="cursor: pointer;">5. Amexio License</span>
                            </amexio-column>
                        </amexio-row>
                    </div>
                </amexio-body>
            </amexio-card>
        </amexio-column>

        <amexio-column [size]="3" [fit]='true'>
            <amexio-card [header]="true" [footer]="true" [footer-align]="'center'">
                <amexio-header>Source Code</amexio-header>
                <amexio-body style="display: flex; justify-content: center; flex-direction: column;">
                    <amexio-image style="display: flex; justify-content: center; "
                        [path]="'assets/staticPageImages/github.png'" [height]="'100px'">
                    </amexio-image>
                    <amexio-label style="display: flex; justify-content: center; ">
                        <br />Open Source
                        <br />Apache 2 License
                    </amexio-label>
                </amexio-body>
                <amexio-action>
                    <amexio-button (onClick)="onLinkClick('https://github.com/meta-magic/amexio.github.io')"
                        [label]="'GitHub'" [type]="'theme-color'">
                    </amexio-button>
                </amexio-action>
            </amexio-card>
        </amexio-column>
        <amexio-column [size]="3" [fit]='true'>
            <amexio-card [header]="true" [footer]="true" [footer-align]="'center'">
                <amexio-header>Amexio Plugin</amexio-header>
                <amexio-body style="display: flex; justify-content: center; flex-direction: column;">
                    <amexio-image style="display: flex; justify-content: center; "
                        [path]="'assets/staticPageImages/amexio_plugin.jpeg'" [height]="'100px'">
                    </amexio-image>
                    <amexio-label style="display: flex; justify-content: center; ">
                        Visual Studio Plugin
                        <br />Increases Productivity By 50%
                    </amexio-label>
                </amexio-body>
                <amexio-action>
                    <amexio-button
                        (onClick)="onLinkClick('https://marketplace.visualstudio.com/items?itemName=MetaMagic.amexio')"
                        [label]="'Get Plugin'" [type]="'theme-color'">
                    </amexio-button>
                </amexio-action>
            </amexio-card>
        </amexio-column>
        <amexio-column [size]="3" [fit]='true'>
            <amexio-card [header]="true" [footer]="true" [footer-align]="'center'">
                <amexio-header>Amexio Canvas</amexio-header>
                <amexio-body style="display: flex; justify-content: center; flex-direction: column;">
                    <amexio-image style="display: flex; justify-content: center; " [height]="'102px'"
                        [path]="'assets/staticPageImages/amexio_canvas.jpeg'">
                    </amexio-image>
                    <amexio-label style="display: flex; justify-content: center; ">
                        Angular UI Automation Platform Increases Productivity by 3x
                        <br />
                    </amexio-label>
                </amexio-body>
                <amexio-action>
                    <amexio-button (onClick)="onLinkClick('https://canvas.amexio.org/#/login')"
                        [label]="'Login to Canvas'" [type]="'theme-color'">
                    </amexio-button>
                </amexio-action>
            </amexio-card>
        </amexio-column>

    </amexio-row>

    <amexio-row>
        <amexio-column size="12">
            <amexio-panel [header]="true" [title]="'1. Install Amexio Components'" [expanded]="true">
                <amexio-row>
                    <amexio-column size="12">
                        <amexio-accordion>
                            <amexio-accordion-tab header="Amexio 5.x - Angular 6" active="true">
                                <amexio-tab-view>
                                    <amexio-tab title="Installation" active="true">
                                        <amexio-row>
                                            <amexio-column size="12">
                                                <b>To install this Amexio 5.x follow the steps given below:</b>
                                                <br>
                                                <pre
                                                    style="font-weight: bold;color: #c0392b"><code>npm install amexio-ng-extensions@latest --save</code></pre>
                                                Please make sure you have the latest version of
                                                <span style="font-weight: bold;color:  #c0392b">NodeJS & npm Angular CLI
                                                </span> installed.
                                                <br>
                                                <b>NodeJS</b> version should be above
                                                <span style="font-weight: bold;color:  #c0392b">8.9.0</span>
                                                <br>
                                                <b>Angular CLI</b> version should be above
                                                <span style="font-weight: bold;color:  #c0392b">6.0.0</span>
                                                <br>


                                                <b>and then from your Angular AppModule:</b>
                                            </amexio-column>
                                        </amexio-row>
                                        <br>
                                        <amexio-row>
                                            <amexio-column size="12">
                                                <div style="height: 400px">
                                                    <ng-container *ngIf="tsCode">
                                                        <prism-block [code]="tsCode" [language]="'typescript'">
                                                        </prism-block>
                                                    </ng-container>
                                                </div>

                                            </amexio-column>
                                        </amexio-row>
                                    </amexio-tab>
                                    <amexio-tab title="Modules">
                                        <p>Amexio Library Consist of the following modules</p>
                                        <ng-container *ngIf="modulesData">
                                            <amexio-datagrid title="" [enable-column-filter]="false"
                                                [data]="modulesData" [height]="300" [enable-data-filter]="false">
                                                <amexio-data-table-column [width]="25" [data-index]="'name'"
                                                    [data-type]="'string'" [hidden]="false" [text]="'Module Name'">
                                                </amexio-data-table-column>
                                                <amexio-data-table-column [width]="65" [data-index]="'description'"
                                                    [data-type]="'string'" [hidden]="false" [text]="'Description'">
                                                </amexio-data-table-column>
                                            </amexio-datagrid>
                                        </ng-container>
                                        <br>

                                    </amexio-tab>
                                    <amexio-tab title="Services">
                                        <div style="height: 500px;overflow-x: auto;">


                                            <p>Amexio Provides the below services :</p>

                                            <h3>IconService</h3>
                                            <span style="font-weight: bolder">Change all amexio icons from font-awesome
                                                to material and vice versa in a single
                                                line of code by injecting the
                                                <code>IconLoaderService</code>
                                            </span>
                                            <ng-container *ngIf="iconCode">
                                                <prism-block [code]="iconCode" [language]="'typescript'"></prism-block>
                                            </ng-container>
                                            <br>
                                            <h3>CommonDataService</h3>
                                            <span style="font-weight: bolder">By injecting
                                                <code>CommonDataService</code> into to module, you could easly fetch
                                                data from Rest</span>
                                            <ng-container *ngIf="dataCode">
                                                <prism-block [code]="dataCode" [language]="'typescript'"></prism-block>
                                            </ng-container>
                                        </div>
                                    </amexio-tab>
                                </amexio-tab-view>
                            </amexio-accordion-tab>
                            <amexio-accordion-tab header="Amexio 4.x - Angular 5">
                                <amexio-tab-view>
                                    <amexio-tab title="Installation" active="true">
                                        <amexio-row>
                                            <amexio-column size="12">
                                                <b>To install this Amexio 4.x follow the steps given below:</b>
                                                <br>
                                                <pre
                                                    style="font-weight: bold;color: #c0392b"><code>npm install amexio-ng-extensions@latest --save</code></pre>
                                                Please make sure you have the latest version of
                                                <span style="font-weight: bold;color:  #c0392b">NodeJS & npm Angular CLI
                                                </span> installed.
                                                <b>and then from your Angular AppModule:</b>
                                            </amexio-column>
                                        </amexio-row>
                                        <br>
                                        <amexio-row>
                                            <amexio-column size="12">
                                                <div style="height: 400px;width:80%">
                                                    <ng-container *ngIf="tsCode">
                                                        <prism-block [code]="tsCode" [language]="'typescript'">
                                                        </prism-block>
                                                    </ng-container>
                                                </div>

                                            </amexio-column>
                                        </amexio-row>
                                    </amexio-tab>
                                    <amexio-tab title="Modules">
                                        <p>Amexio Library Consist of the following modules</p>
                                        <ng-container *ngIf="modulesData">
                                            <amexio-datagrid title="" [enable-column-filter]="false"
                                                [data]="modulesData" [height]="300" [enable-data-filter]="false">
                                                <amexio-data-table-column [width]="25" [data-index]="'name'"
                                                    [data-type]="'string'" [hidden]="false" [text]="'Module Name'">
                                                </amexio-data-table-column>
                                                <amexio-data-table-column [width]="65" [data-index]="'description'"
                                                    [data-type]="'string'" [hidden]="false" [text]="'Description'">
                                                </amexio-data-table-column>
                                            </amexio-datagrid>
                                        </ng-container>
                                        <br>

                                    </amexio-tab>
                                    <amexio-tab title="Services">
                                        <div style="height: 500px;overflow-x: auto;">


                                            <p>Amexio Provides the below services :</p>

                                            <h3>IconService</h3>
                                            <span style="font-weight: bolder">Change all amexio icons from font-awesome
                                                to material and vice versa in a single
                                                line of code by injecting the
                                                <code>IconLoaderService</code>
                                            </span>
                                            <ng-container *ngIf="iconCode">
                                                <prism-block [code]="iconCode" [language]="'typescript'"></prism-block>
                                            </ng-container>
                                            <br>
                                            <h3>CommonDataService</h3>
                                            <span style="font-weight: bolder">By injecting
                                                <code>CommonDataService</code> into to module, you could easly fetch
                                                data from Rest</span>
                                            <ng-container *ngIf="dataCode">
                                                <prism-block [code]="dataCode" [language]="'typescript'"></prism-block>
                                            </ng-container>
                                        </div>
                                    </amexio-tab>
                                </amexio-tab-view>
                            </amexio-accordion-tab>
                            <amexio-accordion-tab header="Amexio 3.2.x - Angular 5 and Bootstrap 4" expanded="true">
                                <amexio-row>
                                    <amexio-column size="12">
                                        <b>To install this Amexio 3.2.x - Angular 5 and Bootstrap 4 follow the steps
                                            given below:</b>
                                        <br>
                                        <pre
                                            style="font-weight: bold;color: #c0392b"><code>npm install amexio-ng-extensions@3.2.1 --save</code></pre>
                                        Please make sure you have the latest version of
                                        <span style="font-weight: bold;color:  #c0392b">NodeJS & npm Angular CLI</span>
                                        installed.
                                        <b>and then from your Angular AppModule:</b>
                                    </amexio-column>
                                </amexio-row>
                                <br>
                                <amexio-row>
                                    <amexio-column size="12">
                                        <ng-container *ngIf="tsCodeV32">
                                            <prism-block [code]="tsCodeV32" [language]="'typescript'"></prism-block>
                                        </ng-container>
                                    </amexio-column>
                                </amexio-row>

                                <div align="center">
                                    <a href="https://api.amexio.org/api/v3/index.html#/home" target="_blank"
                                        style="color: blueviolet">Link for API for V3.2</a>
                                </div>

                            </amexio-accordion-tab>
                            <amexio-accordion-tab header="Amexio 3.0.x - Angular 4 and Bootstrap 4" expanded="true">
                                <amexio-row>
                                    <amexio-column size="12">
                                        <b>To install this Amexio 3.0.x - Angular 4 and Bootstrap 4 follow the steps
                                            given below:</b>
                                        <br>
                                        <pre
                                            style="font-weight: bold;color: #c0392b"><code>npm install amexio-ng-extensions@3.0.12 --save</code></pre>
                                        Please make sure you have the latest version of
                                        <span style="font-weight: bold;color:  #c0392b">NodeJS & npm Angular CLI</span>
                                        installed.
                                        <b>and then from your Angular AppModule:</b>
                                    </amexio-column>
                                </amexio-row>

                                <br>
                                <amexio-row>
                                    <amexio-column size="12">
                                        <ng-container *ngIf="tsCodeV32">
                                            <prism-block [code]="tsCodeV32" [language]="'typescript'"></prism-block>
                                        </ng-container>
                                    </amexio-column>
                                </amexio-row>
                                <!-- add dependent libraries -->
                                <div align="center">
                                    <a href="../index.html#/home" target="_blank" style="color: blueviolet">Link for API
                                        for V3.0.x</a>
                                </div>

                            </amexio-accordion-tab>
                        </amexio-accordion>
                    </amexio-column>
                </amexio-row>


            </amexio-panel>
        </amexio-column>
    </amexio-row>


    <amexio-row>
        <amexio-column size="12">
            <amexio-panel [header]="true" [title]="'2. Apply Material Design Themes'" [expanded]="true">
                <p style="color: darkred"> Themes are available from Version 4 </p>

                <b>Angular 6 :</b> add
                <code
                    style="font-weight: bold;color:  #c0392b">node_modules/amexio-ng-extensions/styles/css/at-md-blue.css</code>
                in angular.json
                <code style="font-weight: bolder">styles</code> key.
                <br>

                <b>Below angular 6 version :</b> add
                <code
                    style="font-weight: bold;color:  #c0392b">../node_modules/amexio-ng-extensions/styles/css/at-md-blue.css</code>
                in angular.json
                <code style="font-weight: bolder">styles</code> key.
                <br>

                <ng-container *ngIf="styleCode">
                    <div style="max-height: 300px;overflow-y: scroll;">
                        <prism-block [code]="styleCode" [language]="'json'"></prism-block>
                    </div>

                </ng-container>

                <p>Or refer the below table for other themes provided.</p>

                <amexio-row>
                    <amexio-column size="12">
                        <amexio-datagrid title="Amexio Material Themes" [enable-column-filter]="false" [height]="300"
                            [http-method]="'get'" [http-url]="'assets/themejson/modules/modules.json'"
                            [data-reader]="'properties'" [enable-data-filter]="false">
                            <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'"
                                [hidden]="false" [text]="'Theme Name'">
                            </amexio-data-table-column>
                            <amexio-data-table-column [width]="15" [data-index]="'version'" [data-type]="'string'"
                                [hidden]="false" [text]="'Version'">
                            </amexio-data-table-column>
                            <amexio-data-table-column [width]="60" [data-index]="'description'" [data-type]="'string'"
                                [hidden]="false" [text]="'Path'">
                            </amexio-data-table-column>
                        </amexio-datagrid>
                    </amexio-column>
                </amexio-row>

                <amexio-row>
                    <amexio-column size="12">
                        <amexio-datagrid title="Amexio Themes (Deprecated from version v5.12) "
                            [enable-column-filter]="false" [height]="300" [http-method]="'get'"
                            [http-url]="'assets/themejson/modules/amx_themes.json'" [data-reader]="'properties'"
                            [enable-data-filter]="false">
                            <amexio-data-table-column [width]="15" [data-index]="'name'" [data-type]="'string'"
                                [hidden]="false" [text]="'Theme Name'">
                            </amexio-data-table-column>
                            <amexio-data-table-column [width]="65" [data-index]="'description'" [data-type]="'string'"
                                [hidden]="false" [text]="'Path'"></amexio-data-table-column>
                        </amexio-datagrid>
                    </amexio-column>
                </amexio-row>
            </amexio-panel>
        </amexio-column>
    </amexio-row>

    <br>
    <amexio-row>
        <amexio-column size="12">
            <amexio-panel [header]="true" [title]="'3. Dependencies'" [expanded]="true">
                <p style="color: darkred"></p>
                Add font-awesome.scss in angular.json. Please refer to sample
                <a href="https://raw.githubusercontent.com/meta-magic/amexio-ce-demo/v1.1/angular.json">
                    <font color="blue"> angular.json </font>
                </a>file.
                <br>
            </amexio-panel>
        </amexio-column>
    </amexio-row>
    <br>
    <amexio-row>
        <amexio-column size="12">
            <amexio-panel [header]="true" [title]="'4. Install Amexio Chart D3'" [expanded]="true">
                <amexio-row>
                    <amexio-column size="12">
                        <amexio-tab title="Installation" active="true">
                            <amexio-row>
                                <amexio-column size="12">
                                    <b>Prerequisites: </b>
                                    <br>
                                    <b>To install D3 Dependancy follow the step given below:</b>
                                    <pre
                                        style="font-weight: bold;color: #c0392b"><code>npm install d3 --save</code></pre>
                                    <b>To install this Amexio Chart D3 follow the steps given below:</b>
                                    <br>
                                    <pre
                                        style="font-weight: bold;color: #c0392b"><code>npm install amexio-chart-d3 --save</code></pre>
                                    <b>Theme to Add : </b> add
                                    <code
                                        style="font-weight: bold;color:  #c0392b">node_modules/amexio-chart-d3/lib/styles/amexio-chart-d3-components.css</code>
                                    in angular.json
                                    <code style="font-weight: bolder">styles</code> key.
                                    <br>
                                    <br> Please make sure you have the latest version of
                                    <span style="font-weight: bold;color:  #c0392b">NodeJS & npm Angular CLI</span>
                                    installed.
                                    <br>
                                    <b>NodeJS</b> version should be above
                                    <span style="font-weight: bold;color:  #c0392b">8.9.0</span>
                                    <br>
                                    <b>Angular CLI</b> version should be above
                                    <span style="font-weight: bold;color: #c0392b">6.0.0</span>
                                    <br>
                                    <b>and then from your Angular AppModule:</b>
                                </amexio-column>
                            </amexio-row>
                            <br>
                            <amexio-row>
                                <amexio-column size="12">
                                    <div style="height: 400px">
                                        <ng-container *ngIf="tsCodeD3">
                                            <prism-block [code]="tsCodeD3" [language]="'typescript'"></prism-block>
                                        </ng-container>
                                    </div>
                                </amexio-column>
                            </amexio-row>
                        </amexio-tab>
                    </amexio-column>
                </amexio-row>
            </amexio-panel>
        </amexio-column>
    </amexio-row>


    <amexio-row>
        <amexio-column size="12">
            <amexio-panel [header]="true" [title]="'5. Amexio License'" [expanded]="true">
                <br>
                <b>Amexio API License for Standard & Enterprise Edition</b>
                <p>
                    Amexio API is Free & Open Source & based on Apache 2 License. A Permissive License whose main
                    condition require preservation
                    of copyright and license notices. Contributors provide an express grant of patent rights. Licensed
                    works,
                    modification and larger works may be distributed under different terms and without source code.
                </p>
                <p>
                    <a href="https://api.amexio.org/api/license.html" style="color: blue">Click here to read the Apache
                        2 License. </a>
                </p>
            </amexio-panel>
        </amexio-column>
    </amexio-row>

    <amexio-action-ce [align]="'space-between'">
        <amexio-button [label]="'Previous'" [type]="'theme-color'" (onClick)="previous()">
        </amexio-button>
        <amexio-button [label]="'Next'" [type]="'theme-color'" [tooltip]="'toolTip'" (onClick)="next()">
        </amexio-button>
    </amexio-action-ce>