You can add global styles to this file, and also import other style files

   .signal {
      border: 5px solid #333;
      border-radius: 30px;
      height: 30px;
      left: 50%;
      margin: -15px 0 0 -15px;
      opacity: 0;
      position: absolute;
      top: 50%;
      width: 30px;
      animation: pulsate 1s ease-out;
      animation-iteration-count: infinite;
  }
  
  @keyframes pulsate {
      0% {
        transform: scale(.1);
        opacity: 0.0;
      }
      50% {
        opacity: 1;
      }
      100% {
        transform: scale(1.2);
        opacity: 0;
      }
  }
  
  .space
  {
           padding-left:5px;
           padding-right:5px;
  }
  
  .margin
  {
            margin-left: 5px;
            margin-right:5px;
  }
  .paddingbottom
{

    padding-bottom:0px;
}
.paddingtop
{

    padding-top:0px;
}
.tabcontent{
    padding: 0px!important;
}

amexio-nav img.navbar-logo  {
    width: max-content;
    height: 50px;
}
amexio-box .roundEdgeCommonCss .box-content{
    border-color: var(--appHeaderBGColor) !important;
}
.label-class label {
 align-content: right;
}

.card-container-narrower-header {
    margin: 10px 0px 0px 0px !important;
}
.rowflex .flex-row {
 padding:0px 5px 0px 5px;
}